@import '~@ktsstudio/mediaproject-style/dist/mixins';

.error {
  position: absolute;
  @include centerPos();
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  width: 60vw;
  color: black;
}
