@import '~styles/colors';

.container {
  width: 100%;
  height: 100%;
  background: $white;

  :global(.vkuiPanel::after),
  :global(.vkuiPanel__in) {
    background: none; // убрать, если используется vkui и нужно подтягивать фон темы
  }

  :global(.vkuiPanel__in) {
    padding: 0; // убираем отступы safe-area
  }

  &_fixed-height {
    overflow: hidden;
  }
}
