@import '~@ktsstudio/mediaproject-style/dist/mixins';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vk_icon {
  width: 10rem;
  height: 10rem;
  background: url('img/vk-icon.png') no-repeat center;
  background-size: contain;
}

.webpack_icon {
  width: 10rem;
  height: 10rem;
  background: url('img/webpack-icon.svg') no-repeat center;
  background-size: contain;
}

.react_icon {
  width: 30rem;
  height: 30rem;
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal {
  position: fixed;
  @include centerPos();
  background: white;
  width: 30rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 4rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
}

.modal_title {
  padding: 1rem 0;
  text-align: center;
}
