$size-small: 0.8rem;
$size-standard: 1.6rem;
$size-standard2: 2.4rem;
$size-medium: 3.2rem;
$size-big: 4rem;
$size-big-2: 6rem;
$size-big-3: 6.5rem;
$size-large: 7.2rem;
$size-large-2: 7.5rem;

$transition-normal: 0.2s ease-out;

$iphone10-height: 800px;
$iphone5-height: 580px;
$phone-width: 600px;

$content-width: 22.5rem;
