<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%= projectName %></title>
  <meta property="og:description" content="<%= projectName %>" />
  <!--  todo: replace share image -->
  <meta property="og:image" content="./static/share/share.png" />
  <!--  todo: generate favicons -->
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="static/favicon/favicon.png"
  />
  <meta name="theme-color" content="#ffffff" />
</head>
<body>
  <div id="root"></div>
</body>
</html>
